<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<p>Curve Id</p>
			<input type="text" th:field="*{curveId}" th:name="curveId" class="form-control" placeholder="Curve Id"/>
			<span class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}" th:errorclass="fieldError">curveId error</span>
			<p>Term</p>
			<input type="text" th:field="*{term}" th:name="term" class="form-control" placeholder="Term"/>
			<span class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}" th:errorclass="fieldError">term error</span>
			<p>Value</p>
			<input type="text" th:field="*{value}" th:name="value" class="form-control" placeholder="Value"/>
			<span class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}" th:errorclass="fieldError">value error</span>
			<input type="submit" value="Save data" class="btn btn-primary btn-sm"/>
			<a href="/curvePoint/list" class="btn btn-primary btn-sm btn-danger">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>