<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
			<div class="form-group">
				<label for="account">Account</label>
				<input type="text" name="account" id="account" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="type">type</label>
				<input type="text" name="type" id="type" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="bidQuantity">BidQuantity</label>
				<input type="number" name="bidQuantity" id="bidQuantity" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="askQuantity">AskQuantity</label>
				<input type="number" name="askQuantity" id="askQuantity" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="bid">Bid</label>
				<input type="number" name="bid" id="bid" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="ask">Ask</label>
				<input type="number" name="ask" id="ask" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="benchmark">Benchmark</label>
				<input type="text" name="benchmark" id="benchmark" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="bidListDate">BidListDate</label>
				<input type="date" name="bidListDate" id="bidListDate"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="commentary">Commentary</label>
				<input type="text" name="commentary" id="commentary" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="security">Security</label>
				<input type="text" name="security" id="security" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="status">Status</label>
				<input type="text" name="status" id="status" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="trader">Trader</label>
				<input type="text" name="trader" id="trader" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="book">Book</label>
				<input type="text" name="book" id="book" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="creationName">CreationName</label>
				<input type="text" name="creationName" id="creationName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="creationDate">CreationDate</label>
				<input type="date" name="creationDate" id="creationDate" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="revisionName">RevisionName</label>
				<input type="text" name="revisionName" id="revisionName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="revisionDate">RevisionDate</label>
				<input type="date" name="revisionDate" id="revisionDate" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="dealName">DealName</label>
				<input type="text" name="dealName" id="dealName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="dealType">DealType</label>
				<input type="text" name="dealType" id="dealType" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="sourceListId">SourceListId</label>
				<input type="text" name="sourceListId" id="sourceListId" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="form-group">
				<label for="side">Side</label>
				<input type="text" name="side" id="side" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			</div>
			<div class="row justify-content-center mb-5">
				<div>
					<button type="button" class="mr-2 btn btn-success btn-lg">Save Data</button>
				</div>
				<div>
					<button type="button" class="ml-2 btn btn-danger btn-lg">Cancel</button>
				</div>
			</div>


		</form>
	</div>

</div>
</body>
</html>